<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Modal.css">
</head>

<body>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h1 id="modal-name" class="modal-name"></h1>
            <div class="main_content">
                <div class="content-left">
                    <img id="modal-image" class="modal-image" src="" alt="Pokemon">
                </div>
                <div class="content-right">
                    <p id="modal-description" class="modal-description"></p>
                </div>


            </div>
            <div>
                <p class="evolutions">Các dạng tiến hóa:</p>
                <ul id="modal-evolutions" class="modal-evolutions"></ul>

            </div>

        </div>
    </div>








</body>

</html>