<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Slider.css">
</head>

<body>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img class="slider_img" src="https://i.pinimg.com/736x/a0/77/bc/a077bc84b75af70fa36a5f2aa6518c6a.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img class="slider_img" src="https://wallpaperaccess.com/full/82037.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img class="slider_img" src="https://khoinguonsangtao.vn/wp-content/uploads/2022/08/hinh-nen-pokemon-3d-huyen-thoai-mega-dang-so.jpg" style="width:100%">
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <script src="/js/Slider.js">
    </script>

</body>

</html>